.footer {
  display: flex;
  align-items: center;
  justify-content: center;

  background: #ff7875;
  // height: 100vh;

  &__content-container {
    // padding: 80px;
    // border-radius: 10px;

    // background: #ff9c6e;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__name {
    margin-left: 20px;
    margin-top: 6px;

    font-size: 18px;
    font-weight: 400;
    color: #26272b;
    border-bottom: 2px solid transparent;

    transition: all 0.2s ease-in-out;
  }

  &__name:hover {
    border-bottom: 2px solid #26272b;
  }

  &__logo {
    font-size: 12px;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.2);

    transition: all 0.2s ease-in-out;
  }

  &__logo:hover {
    box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
    cursor: pointer;
  }
}
