@import '../../styles/animations';

.count-up-display {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: calc(100% - 40px);
  max-width: 750px;
  margin-bottom: 40px;

  @media screen and (max-width: 770px) {
    flex-direction: column;
  }

  &__block-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    width: 100%;

    &--top {
      flex: 2;
    }

    &--bottom {
      flex: 1;
    }
  }

  &__block {
    flex: 1;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: white;

    @media screen and (max-width: 770px) {
      height: 160px;
      width: 100%;
    }

    &--one {
      margin-right: 10px;

      @media screen and (max-width: 770px) {
        flex: 2;
        margin-right: 5px;
      }
    }

    &--two {
      margin: 0 10px;
      @media screen and (max-width: 770px) {
        flex: 3;
        margin-right: 0;
        margin-left: 5px;
      }
    }

    &--three {
      margin-left: 10px;

      @media screen and (max-width: 770px) {
        margin-left: 0;
        margin-top: 20px;
      }
    }

    /* The top layer shadow */
    box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.15),
      /* The second layer */ 0 -10px 0 -5px rgb(245, 245, 245),
      /* The second layer shadow */ 0 -10px 1px -4px rgba(0, 0, 0, 0.125),
      /* The third layer */ 0 -20px 0 -10px #eee,
      /* The third layer shadow */ 0 -20px 1px -9px rgba(0, 0, 0, 0.1);

    animation: slide-in 1s;
  }

  &__number {
    font-size: 32px;
  }

  &__label {
    font-size: 16px;
  }
}
